<h2>New Tweet!</h2>
<form class="tweet-compose" data-tweets-ul="#feed">

  <label for="tweet-content">What's on your mind?</label>
    <textarea name="tweet[content]" placeholder="What's on your mind?"></textarea>
      <strong class="chars-left">Characters left:</strong>
  
  <label for="tweet-mentions">Mentions</label>
    <ul class="mentioned-users"></ul>
  
  <div class="tweet-actions">
    <button class="add-mentioned-user">Add mention</button>
    <div class="form-input">
      <input type="submit" value="Post Tweet!">
    </div>
  </div>
</form>
