
<nav class = "main-nav">
  <h1>
    <a href="#">99 Cats</a>
  </h1>
    <div>
      <a href="#">Sign in</a>
      <a href="#">Sign up</a>
    </div>
</nav>



<ul>
<% @cats.each do |cat| %>
    <li><a href="<%= cat_url(cat)%>" ><%= cat.name %></a></li>
<% end %>
</ul>

