<form action="<%= goal_comments_url(goal) %>" method="POST">
    <input type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
    
    <input type="hidden" name="goal_comment[author_id]" 
      id="author_id" value="<%= current_user.id %>">

    <label for="goal_comment_content">Comment</label><br>
    <input type="text" name="goal_comment[content]" 
        id="goal_comment_content"><br>
</form>