<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome to 99 Cats!</h1> 
    
    <p>
    You have successfully signed up for 99 Cats, 
    your username is: <%= @user.username %>.
    </p><br>
    <p>
    To login just follow this link: <%= @url %>.
    </p>
    <p>
    Thanks for joining and happy renting!
    </p>
</body>
</html>