.page h2 {
  font-size: 40px;
  background-color: blanchedalmond;
  border: 1px solid black;
  box-shadow: 3px 3px 5px black;
  width: auto;
  float: left;
  clear: left;
  white-space: nowrap;
  margin-bottom: 20px;
}

.bands-table { 
  display: block;
  float: left;
  clear: left;
  text-align: left; 
  margin-left: 20px;
  font-size: 25px;
  background-color: blanchedalmond;
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow: 5px 5px 10px black;
  width: auto;
  white-space: nowrap;
}

.column-head {
  font-size: 30px;
  line-height: inherit;
}

.bands-table td, th {
  padding: 5px;
  border: 1px solid black;
}

.bands-table td {
  padding-left: 10px;
  text-align: left;
  white-space: nowrap;
}

.bands-table form {
  float: right;
  font-size: 25px;
  margin-right: 20px;
}

.new-band-form .errors {
    padding: 8px;
}

.create-button {
    float: left;
    clear: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 28px;
    padding: 8px;
    background-color: #c79f26;
    border: 1px solid black;
    white-space: nowrap;
}

.radio-box{
  border: 1px solid black;
  margin: 10px 0;
  width: 100px;
}

