body {
  width: 900px;
  background-color: #c93416;
}

.main-header {
  display: flex;
  float: left;
  justify-content: space-between;
  font-size: 50px;
  width: 100%;
  margin: 20px 100px;
  position: relative;
  z-index: 100;
  text-decoration: underline;
}

.main-header div {
  display: flex;
  font-size: 40%;
  margin: 10px 0px;
  align-self: flex-end;
}

.main-header div a {
  padding: 3px 5px;
  margin: 5px;
  background-color: #c79f26;
  border-radius: 10%;
}

