body {
  align-items: center;
  background-color: #c93416;
}

.main-header {
  display: flex;
  float: left;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  text-decoration: underline;
  white-space: nowrap;
  background: inherit;
}

.main-header h1 {
  font-size: 50px;
  margin: 10px 0 20px 200px;
}

.main-header div {
  display: flex;
  font-size: 22px;
  margin: 10px 200px 20px 0;
  margin-left: 200px;
  align-self: flex-end;
}

.main-header div a {
  padding: 3px 5px;
  margin: 5px;
  background-color: #c79f26;
  border-radius: 10%;
  border: 1px solid black;
}

.main-header div .log-out {
  padding: 3px 5px;
  margin: 5px;
  background-color: #c79f26;
  border-radius: 10%;
  border: 1px solid black;
}

.main-header div .log-out input {
  font-size: 22px;
  text-decoration: underline;
}

.page {
  margin: 0 200px;
}

.errors {
  display: flex;
  font-weight: bold;
}

