.section-links-nav {
    display: flex;
    border-bottom: 1px solid $light-gray;
}

.section-links {
    display: flex;
    margin: 0 auto;
}

.section-links li {
    margin: 10px 7px;
}

.section-links li a:hover {
    background-color: $light-gray;
    text-decoration: none;
}

.section-links li:last-of-type a:hover {
    background-color: white;
    text-decoration: underline;
}


