html, body, h1, 
h2, form, label, 
input, select, 
option, textarea, br,
table, tr, th, td, 
thead, div, nav, section,
main, img
 {
   margin: 0;
   border: 0;
   padding: 0;
   color: inherit;
   background: transparent;
   text-align: inherit;
   text-decoration: inherit;
   font: inherit;
   font-size: 30px;
   font-family: 'Amatic SC', cursive;
 }
 

h1 {
   font-size: 60px;
   color: yellow;
 }

 .main-nav {
   top: 0px;
   z-index: 100;
 }

 nav {
   width: 100%;
   background-color: #000066;
   display: flex;
   color: yellow;
   align-items: center;
   height: 60px;
   justify-content: space-between;
   box-sizing: border-box;
   padding: 0 20px;
 }

 nav a {
   padding: 0 10px;
   text-decoration: underline;
 }

 a {
   color: yellow;
 }

 .cat-index-holder {
   margin: 50px auto;
   width: 920px;
   background-color: teal;
 }

 .cat-index {
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }

 .cat-index-item {
   padding: 20px;
   margin: 20px 0;
   width: 235px;
   height: 280px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #000066;
 }

 img {
   width: 100%;
   height: auto;
 }

 

