<div class="user-form">
    <%= render 'shared/errors' %>
    <h1>Sign In</h1><br>
    <form class="fields"action="<%= session_url %>" method="POST">
      <%= auth_token %>
      <label for="user_email">Email</label><br>
      <input class="user-info-input" type="text" name="users[email]" 
        id="user_email"><br>
  
      <label for="user_password">Password</label><br>
      <input class="user-info-input" type="text" name="users[password]" 
        id="user_password"><br>
  
      <input class="form-submit-button" type="submit" value="Log In">
    </form>
</div>