    <div class="search">
        
        <label for="bands_search">Search</label>
        <form action="<%= searches_url %>" method="GET">
        <%= auth_token %>
        <select name="model">
        <option value="site">Search Site</option>
        <option value="bands">Bands</option>
        <option value="albums">Albums</option> 
        <option value="tracks">Tracks</option> 
        </select>

        <input type="search" name="search" id="search">
        <input type="submit" value="submit">
        </form>
    </div>